.bg-nika {
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 150px;
	border-radius: 80px 80px 0 0;
}

.bg-nika-header {
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

.bg-nika-solid {
	background: #fa8072;
	border-radius: 0 0 80px 80px;
	padding-bottom: 50px;
}
